#root,
body,
html,
main {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}
html {
  font-size: 16px;
  width: 100%;
  scroll-behavior: smooth;
  background-color: var(--smaint-surface);
}
.container {
  margin: 0 auto;
}
.App {
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}
ul {
  list-style: none;
}
button {
  border: none;
  background: none;
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
}
input {
  border: none;
  outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.hide-header-nav {
  display: none;
}

.header-bg-image {
  background-image: url("/assets/images/assetmanagement.png");
  background-size: cover;
  background-position: center;
}
