.register_here {
  color: rgb(40, 40, 187);
  text-decoration: underline;
}

.register_Container {
  margin-top: 4rem;
}

.login_Container {
  width: 100% I !important;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form_fields_register {
  margin-bottom: 1rem;
}
